.estado-pagada,
.estado-anulada,
.estado-pendiente {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 100px;
}

.estado-pagada {
  background-color: #157347;
  color: #fff;
}

.estado-anulada {
  background-color: #dc3545;
  color: #fff;
}

.estado-pendiente {
  background-color: #ffc310;
  color: #000;
}
