.divContentLogin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient( 360deg, #3d3d3f 5%, #3944b8 95%);
}