.logo-header {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.styloHeader {
  background-color: #1E3A5F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   height: 70px; 
  display: flex;
  align-items: center;
}


/* Responsive: centrar botón en pantallas pequeñas */
@media (max-width: 600px) {


 .logo-header{
  height: 120px;
   
 }
}

