.styloHeader {
  background-color: #1E3A5F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

/* Bot칩n de cerrar sesi칩n */
.botonCerrarSesion {
  color: white;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 16px;
  transition: background-color 0.3s ease;
  border: 2px solid white;
  font-weight: 500;
}

/* Hover elegante */
.botonCerrarSesion:hover {
  background-color: white;
  color: #1E3A5F;
}

/* Responsive: centrar bot칩n en pantallas peque침as */
@media (max-width: 768px) {
  .botonCerrarSesion {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

 
}
