.logo-header {
  width: 100px;
}

.FormRegistro {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background-color: #1E3A5F;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

@media (min-width: 768px) {
  .FormRegistro {
    max-height: 600px;
  }
}

@media (max-width: 768px) {
  .logo-header {
    width: 70px;
  }
}

@media (max-width: 576px) {
  .logo-header {
    width: 50px;
  }
}
