<<<<<<< HEAD
/* .FormRegistro {
=======
.FormRegistro {
>>>>>>> 38a8ee804d280b9f14367a4b2a34a4e046509526
    width: 18rem; 
    padding: 25px; 
    background-color: #1E3A5F; 
    position: relative;
    top: 50px; 
    left: 70%;
    color: white;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 38a8ee804d280b9f14367a4b2a34a4e046509526
